.container{
    display: flex;

    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    & h1 {
        font-size: 42px;
        font-weight: 600;
        color: #3b234a        
    }
}



.formularios{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff60;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.2),   /* sombra principal suave */
        0 0 20px rgba(0, 0, 0, 0.1);      /* espalhamento difuso nos 4 lados */
    align-items: center;
   

    & button{
        background-color: #542770ad;
        border-radius: 25px;
        width: 140px;
        height: 30px;
        cursor: pointer;
        color: #fff;
    }
    
    & input {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.123);
        border: solid 1px black;
        border-radius: 30px;
        padding-left: 10px;
        outline: none;
        height: 40px;
        font-size: 16px;
        color: #fff;

        
        
    }
    
}




