.container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 80px;
    flex-direction: column;
    & h1 {
        font-size: 42px;
        font-weight: 600;
        color: #3b234a        
    }
}



.formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff60;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.2),   /* sombra principal suave */
        0 0 20px rgba(0, 0, 0, 0.1);      /* espalhamento difuso nos 4 lados */
    align-items: center;

    
    
    
}

#submitButton{
        background-color: #542770ad;
        border-radius: 25px;
        width: 50%;
        height: 40px;
        cursor: pointer;
        color: #fff;
    }


