.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
 /* to testando */  
  
}
.menu{
  display: flex;
 
  box-sizing: border-box;
  background-color: #ffffff60;
  width: 100%;
  padding: 10px;
  color: #3b234a;
  justify-content: space-between;
  align-items: center;
  
   
  
}


  



.informacoes{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: smaller;
  
}



/* CONTEÚDO PRINCIPAL */
.container-center {
  flex: 1; /* ocupa todo o espaço restante */
  
  color: white;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px; /* impede que o conteúdo se estenda demais */
   /* centraliza horizontalmente */
  
}

.dashboard-cards{
  
  padding: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  
  justify-content: center;
  margin: 1px 0;
  

  
}
.cards-1{
  background-color: #ffffff60;
  border-radius: 10px;
  box-sizing: border-box;
  width: 25%;
  padding: 30px;
  flex: 1 1 250px; /* cresce e encolhe, tamanho base 250px */
  box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.2),   /* sombra principal suave */
        0 0 20px rgba(0, 0, 0, 0.1); 
  
  
}
.cards-2{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: #ffffff60;

  border-radius: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 360px;
  box-shadow: 
  0 4px 30px rgba(0, 0, 0, 0.2),   /* sombra principal suave */
  0 0 20px rgba(0, 0, 0, 0.1); 
}

.cards-3{
  background-color: #ffffff60;
  border-radius: 10px;
  box-sizing: border-box;
  
  height: 500px;
  box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.2),   /* sombra principal suave */
        0 0 20px rgba(0, 0, 0, 0.1); 
}
#trans{
  width: 70%;
  padding: 20px;
  overflow-y: auto;
}
#membros {
  width: 30%;
  padding: 5px;
  overflow-x: auto;
}

.cards-1,.cards-2,.cards-3{
  transition: all 0.3s ease-in-out;
  border: solid;
}

.cards-1:hover,.cards-2:hover,.cards-3:hover{
scale: 1.02;
}



@media (max-width: 768px) {
 
  
  .container1 {
    flex-direction: column; /* empilha sidebar e conteúdo */
    align-items: center;
  }

  #menu-but{
    background-color: rgb(255, 255, 255);
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 2000;
    height: 70px;
    & hr {
      height: 70%;
      align-self: center;
      opacity: 40%;
    }
    
  }
  .menu {
    width: 100vw;
    height: auto;
    
    
    
  }
  
  .container-center {
    padding: 20px;
    font-size: smaller;
    margin-bottom: 45px;
  }

  .dashboard-cards{
    flex-direction: column;
    
  }

  .cards-1,.cards-2,.cards-3{
    width: 98vw;
    height: fit-content;
  }
  #trans,#membros{
    width: 98vw;
   
  }
}


#logout{
    color:  #8b5cf6;
    margin-bottom: 0px;
    transition: all 0.3s ease-in-out;
    align-self: center;
    cursor: pointer;
    
}
#logout:hover {
  color: red;
  transform: scale(1.05);
}
