/* CARD DE MEMBROS*/


.principal{
    border: solid 2px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
    

}

#avatar{
    width: 50px;
    height: 50px;
    border: solid black;
}

.nome-gasto{
    font-size: 15px;
    text-align: left;
    
    & span{
        font-size: x-small;
    }
}



/* modal */

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    
    
    
}


.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    

}  


.scroll-area {
  padding: 10px;
  overflow-y: hidden; /* 👈 começa sem scroll visível */
  max-height: calc(90vh - 40px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: overflow 0.3s ease;
  
  
}

/* quando o mouse passa em cima do modal, ativa o scroll */
.form-trans:hover .scroll-area {
  overflow-y: auto;
}

/* personaliza o visual do scrollbar */
.scroll-area::-webkit-scrollbar {
  width: 8px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 8px;
}
.form-trans{
    overflow: hidden;
    max-width:600px;
    max-height:90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px;
    background-color: #fff;
    color: blueviolet;
    gap: 20px;
    
    box-sizing: border-box;
    & input {
      background-color: #ffffff7c;
    }
   
}
.box-tabela{
  width: 99%;
  padding: 1px;
}




.button{
    display: flex;
    
    gap:40px

}


.pill-categoria{
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  border: solid 1px;
  width: fit-content;

  padding-left: 10px;
  border-radius: 50px;
}

.pill-categoria:hover{
  background-color: #b7b7b752;
  cursor: pointer
}

.foto-perfil{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  & label{
    border: solid 1px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  & label:hover{
    background-color: rgba(137, 43, 226, 0.212);
  }
}




@media (max-width: 768px) {
  
  .box-tabela{
  width: 90vw;
  padding: 1px;
  }

  .overlay{
    padding: 2px;
  }

  .form-trans{
    height: 100%;
  }



}