*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  
}
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none ;
    background: linear-gradient(
    135deg,
    #3b234a,
    #d4c7bf
  );
  
}

