*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  
}
body, html{
  min-height: 100vh;
  max-width: 100vw;
    background: linear-gradient(
    135deg,
    #3b234a,
    #d4c7bf
  );
  
}

